lxml==4.9.2
pyquery==1.4.1
# cloudscraper==1.2.71
requests==2.32.2
beautifulsoup4==4.9.3
Pillow==10.3.0
PyQt5==5.15.6
PySocks==1.7.1
urllib3==1.26.19
zhconv==1.4.3
langid==1.1.6
opencv-contrib-python-headless==4.8.1.78
deepl-translate==1.2.0
ping3==4.0.4
oshash==0.1.1
numpy==1.26.4
curl-cffi==0.7.0b4